body {  
    color:white;  
    font-size:1.2em;
    font-family: "Verdana", sans-serif;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 5em;
    margin-top: 5em;
    font-weight: bolder;
    background-color:rgba(54, 0, 75, 0.445)
}

p {
    font-weight: lighter;
}

div.HomepageHead {
    text-align: center;
    margin-top: 2em;
    background-color: rgba(77, 0, 107, 0.459);
    border-radius: .5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

img#CityDrawing {
    float: center;
    width: 100%;
    margin-top: 2em;
    border-radius: .5em;
}

div.ArtSection, div.CodingSection {
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: rgba(77, 0, 107, 0.459);
    border-radius: .5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    color:white;
}

img#SampleOne, img#SampleTwo, img#DigitalSampleOne, img#DigitalSampleTwo {
    height: 200px;
    border-radius: .5em;
    margin: 1em;
}

img#CreativeSpaceSample, img#MountainAniSample {
    height: 375px;
    border-radius: .5em;
    margin: 1em;
}

/* Navbar */
header {
    display: flex;
    display: block;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    overflow: hidden;
    border-radius: .5em;
    width: 545px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(77, 0, 107, 0.336);
}

/* Links in navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    padding: 14px 16px;
    margin: auto;
}

/* dropdown containers */
.dropdownOne, .dropdownTwo, .Aboutdropdown {
    float: left;
    overflow: hidden;
}
  
/* Dropdown button */
  .dropbtnOne, .dropbtnTwo, .aboutdropbtn, .HomeButton .Homebtn {
    font-size: 16px;
    border: none;
    color: white;
    padding: 14px 16px;

    background-color: rgba(77, 0, 107, 0.459);
    
    /* for responsive web design purposes */
    font-family: inherit; 
    margin: 0; /* Important for vertical align on mobile phones */
}

.dropbtnOne, .dropbtnTwo, .aboutdropbtn {
    margin: 14px;
}

.dropdownOne-content, .dropdownTwo-content, .about-content {
    display: none;
    position: absolute;
    min-width: 100px;
}

/* Links in dropdown */
.dropdownOne-content a, .dropdownTwo-content a, .about-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: .5em;
    text-align: center;
    background-color: rgb(87, 32, 109)
}

/* background color links on hover */
.dropdownOne-content a:hover, .dropdownTwo-content a:hover, .about-content a:hover {
    background-color: rgb(158, 71, 192)
}
  
/* Show menu on hover */
.dropdownOne:hover .dropdownOne-content, .dropdownTwo:hover .dropdownTwo-content, .Aboutdropdown:hover .about-content {
    display: block;
    border-radius: .5em;
}

footer {
    display: flex;
    margin-top: 2em;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: .5em;
    color: white;
    font-size: 1.2vw;
    font-family: sans-serif;
}

div.flexible {
    flex-direction: row;
    padding: .5em;
    text-align: center;
}

div.imagesOne {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:rgba(77, 0, 107, 0.459);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
    border-radius: .5em;
}

img#ArianaGrande, img#SelenaGomez, img#TaylorSwift {
    height: 300px;
    margin-right: 1em;
    margin-left: 1em;
    border-radius: .5em;
}

div.Studies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color:rgba(77, 0, 107, 0.459);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
    border-radius: .5em;
}

img#EyeStudyOne, img#EyeStudyTwo, img#HairStudyTwo, img#HairStudyThree {
    height: 275px;
    margin: 1em;
    border-radius: .5em;
}

div.Paintings {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color:rgba(77, 0, 107, 0.459);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
    border-radius: .5em;
}

img#PaintingOne, img#PaintingTwo, img#PaintingThree{
    height: 300px;
    border-radius: .5em;
    margin: 1em;
}

button {
    font-size: 1em;
    color: rgba(77, 0, 107, 0.459);
    text-align: center;
    font-weight: lighter;
    font-family: sans-serif;
    border-radius: .5em;
}

img#ProfilePicture {
    float: left;
    margin: 1em;
    border-radius: .5em;
    width: 350px;
}


