body {  
    color:black;  
    font-size:1.2em;
    font-family: "Verdana", sans-serif;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 5em;
    margin-top: 5em;
    font-weight: bolder;
}

div.ArtSection {
    background-color: lightgreen;
    border-radius: .5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}
